*{
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: NanumGothic;
    src: url("fonts/Nanum_Gothic/NanumGothic-Regular.ttf");
    font-weight: 500;
}
@font-face {
    font-family: NanumGothic;
    src: url("fonts/Nanum_Gothic/NanumGothic-Bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: NanumGothic;
    src: url("fonts/Nanum_Gothic/NanumGothic-ExtraBold.ttf");
    font-weight:bolder;
}

:root{
    --board-size: 550px;
    --off-white: #f8fafc;
    --square-size: 100px;
}

body{
    font-family: NanumGothic, Arial;
    font-weight: 500;
    color: #0f172a;

    display: flex;
    flex-direction: column;
    padding: 0;
    align-items: center;
    justify-content: center;
    background-color: var(--off-white);
}

.board{
    background-image: url("imgs/board.png");
    height: var(--board-size);
    width: var(--board-size);
    display: grid;
    grid-template: repeat(3, var(--square-size)) / repeat(3, var(--square-size));
    position: static;
    box-sizing: border-box;
    box-shadow: 2px 2px 2px #d3d3d3;
    padding: 125px;
    
}

.square{
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper{
    height: var(--board-size);
    width: var(--board-size);
    background-color: #fff;
    position: relative;
}



.info-wrapper{
    height: var(--board-size);
    width: var(--board-size);
    background-color: hsl(215, 20%, 65%, 0.6);
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
}

.form-wrapper{
    height: 225px;
    width: 375px;
    background-color: var(--off-white);
    border: 2px solid #64748b;
    opacity: 1;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form{
    text-align: center;
    font-size: 12px;

}

.fieldwrap{
    margin: 5px;
}


.hidden{
    display: none;
}

.header{
    height: 50px;
    width: 100%;
    background-color: #f3f4f6;
    margin: 0;
    display: flex;
    margin: 0 0 25px 0;
    box-shadow: 0px 2px 2px lightgrey;
    align-items: center;
    justify-content: center;
}

.stone{
    max-width: 100%;
    max-height: 100%;
}

.fieldwrap{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.game-info{
    display: flex;
    justify-content: flex-start;
    position: absolute;
    
    width:var(--board-size);
    top: 55px;
    left: 77px;
}

.shadow{
    opacity: .5;
    display: none;
    max-width: 100%;
    max-height: 100%;
}

.square:hover .shadow{
    display: block;
}

.post-submit:invalid{
    border: 1px solid red;
    border-radius: 5px;
}

#restart{
    cursor: pointer;
    padding-left: 5px;
}

#restart:hover{
    color:#64748b;
}

.title-img{
    height:90%;
    width:auto;
}

.title{
    font-weight:bolder;
    font-size: 46px;
    height:100%;
}

.bot{
    margin: 2px 0;
    display: flex;
    align-items: center;
}